<div class="folders round">
	<h1>Welcome, <%= /\w*\s/.match(@user.name) %></h1>
	<table class="usermain">
		<tr>
			<td>
				<h2><b>Here are your current folders:</b></h2><br />
				<% @folders.each do |folder| %>
					<ul>
						<li><%= folder.name %></li>
					</ul>
				<% end %>
			</td>
		</tr>
	</table>
</div>