<%= render 'shared/user_header' %>
	<table class="main">
		<tr>
			<td><%= render 'shared/sidebar' %></td>
			<td>
				<div class="folders round">
					<h1>This is a test</h1>
				</div>
			</td>
		</tr>
	</table>
